
/* PROJECT PAGE STYLING */
/* TITLE */
#projects-title {
    width: 100%;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  #projects-title::after {
    content: "";
    display: block;
    width: 10%;
    height: 4px;
    background: linear-gradient(45deg, #ff007f, #ff7e5f);
    margin: 10px auto 0;
    opacity: 0;
    transform: scale(0.8);
    transform-origin: center;
    transition: opacity 3s ease, transform 3s ease;
  }
  
  /* CAROUSEL INITIAL STATE */
  .carousel {
    position: relative;
    max-width: 80%;
    margin: 100px auto;
    overflow: hidden;
    padding: 50px;
    background: linear-gradient(45deg, #4b1f35, #d65d5d);
    border-radius: 100px;
  }
  
  /* CAROUSEL ANIMATION */
  .carousel.animate {
    opacity: 1;
    transform: scale(1);
  }
  
  /* CAROUSEL ITEMS */
  .carousel-inner {
    display: flex;
    transition: 2s ease-in-out;
    width: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* EMBED GAME */
  #game-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* CANVAS FOR GAME */
  #game-canvas {
    width: 100%;
    height: auto;
    max-width: 1024px; /* FIXED WIDTH */
    max-height: 576px; /* FIXED HEIGHT */
  }
  
  /* START GAME BUTTON */
  .start-game-button {
    color: #ffffff;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: none;
    background: none;
  }
  
  .start-game-button:hover {
    transform: scale(1.1);
  }
  
  .start-game-button:focus {
    outline: none;
  }
  
  .start-game-button:disabled {
    color: #ff0000; /* CHANGE BUTTON COLOR */
    cursor: not-allowed; /* CHANGE CURSOR */
  }
  
  /* CAPTION ON CAROUSEL */
  #controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
  }
  
  #start-message {
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 10;
  }
  
  #game-unavailable-message {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  .carousel-caption {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: x-large;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  /* ARROWS ON CAROUSEL */
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  /* FOR SMALLER SCREENS */
  /* HIDE CANVAS IF SCREEN < 768PX */
  @media (max-width: 768px) {
    #game-canvas {
      display: none;
      width: 100%;
    }
  
    #game-unavailable-message {
      display: flex;
    }
  }
  
  /* SHOW CANVAS IF SCREEN > 768PX */
  @media (min-width: 769px) {
    #game-canvas {
      display: block;
    }
  
    #game-unavailable-message {
      display: none;
    }
  }